/*FONT STYLES*/

.heading_akm {
    @apply text-2xl py-6 font-semibold tracking-tight text-center ;

    @screen sm {
        @apply text-2xl font-semibold;
    }
    @screen md {
        @apply text-2xl py-7;
    }
    @screen lg {
        @apply text-3xl py-7;
    }

    @screen xl {
        @apply text-4xl py-9;
    }
}




.subheading_akm {
    @apply text-xl py-1 font-semibold tracking-tight;

    @screen sm {
        // @apply text-2xl;
    }

    @screen md {
        // @apply text-2xl ;
    }

    @screen lg {
        @apply text-2xl;
    }

    @screen xl {
        @apply text-2xl;
    }
}

.body_text_akm {
    @apply text-base ;

    @screen sm {
        // @apply text-2xl;
    }

    @screen md {
        // @apply text-2xl ;
    }

    @screen lg {
        // @apply text-2xl;
    }

    @screen xl {
        // @apply text-base;
    }
}

.section_akm {
    @apply mx-auto py-4;

    @screen sm {
        @apply py-4;
    }

    @screen md {
        @apply py-5;
    }

    @screen lg {
        @apply py-6;
    }

    @screen xl {
        @apply py-14;
    }
}


// SPACINGS

.gap_akm {
    @apply gap-4;

    @screen sm {
        @apply gap-5;
    }

    @screen md {
        @apply gap-6 ;
    }

}


.pad_akm {
    @apply p-4;

    @screen sm {
        @apply p-5;
    }

    @screen md {
        @apply p-2;
    }

}

.mt_akm {
    @apply mt-4;

    @screen sm {
        @apply mt-5;
    }

    @screen md {
        @apply mt-6;
    }

}

.mb_akm {
    @apply mb-4;

    @screen sm {
        @apply mb-5;
    }

    @screen md {
        @apply mb-6;
    }

}

.pt_akm {
    @apply pt-4;

    @screen sm {
        @apply pt-5;
    }

    @screen md {
        @apply pt-6;
    }

}

.pb_akm {
    @apply pb-4;

    @screen sm {
        @apply pb-5;
    }

    @screen md {
        @apply pb-6;
    }

}




.nav_space_akm {
    @apply mt-10;

    @screen sm {
        @apply mt-10;
    }

    @screen md {
        @apply mt-10;
    }

    @screen lg {
        @apply mt-10;
    }

    @screen xl {
        @apply mt-10;
    }
}


//BOXES

.box_round_shadow {
    @apply p-5 rounded-2xl shadow-xl bg-white;

    @screen md {
        @apply p-6;
    }

  @screen lg {
      @apply p-7;
  }

    @screen xl {
        @apply p-8;
    }
}

.tab_round_shadow {
    @apply px-3 pt-2 pb-0 rounded-2xl shadow-xl bg-white;

    @screen md {
        @apply px-3 pt-2 pb-0;
    }

    @screen lg {
        @apply px-3 pt-2 pb-0;
    }

    @screen xl {
        @apply px-3 pt-2 pb-0;
    }
}


.steps_circle_akm
{

    @apply flex-shrink-0 w-10 h-10 rounded-full inline-flex items-center justify-center text-white relative z-10 bg-[#e6242d];
    
        @screen md {
            //@apply px-3 pt-2 pb-0;
        }
    
        @screen lg {
           // @apply px-3 pt-2 pb-0;
        }
    
        @screen xl {
            //@apply px-3 pt-2 pb-0;
        }
    }



.container_akm {
    @apply container mx-auto px-4 max-w-7xl ;

    @screen sm {
        @apply px-5;
    }

    @screen md {
        @apply px-6;
    }

    @screen lg {
        @apply p-0;
    }

    // @screen xl {
    //     @apply ;
    // }
}

