@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* TAILWIND CUSTOM STYLES */

@layer utilities {
  .h-500 {
    height: 500px;
  }

    .h-600 {
      height: 600px;
    }

         .text-balance {
           text-wrap: balance;
         }
}

body {

background: #f9f9f9;
font-family: 'Inter', sans-serif;
color: #181818;

}

/* COVERAGE SEARCH */
.highlighted {
  background-color: #4b4b4b;
  color: #fff;
}


.light-theme {
  color: #333333;
}

/* FONTS */

@font-face {
  font-family: 'shfont';
  src: url('/fonts/Shamim-bangla-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.shfont {
  font-family: 'shfont', sans-serif;
  
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




/* SWIPER JS */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* CSS file for animation */
.wifi-symbol {
  display: none;
}

.wifi-symbol[foo],
.wifi-symbol {
  display: block;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: 0;
}

.wifi-symbol[foo] {
  width: 150px;
  height: 150px;
  transform: rotate(-45deg) translate(-100px);
}

.wifi-circle {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #FFFFCC;
  border-style: solid;
  border-width: 1em 1em 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  animation: wifianimation 3s infinite;
}

.wifi-circle.first {
  animation-delay: 800ms;
}

.wifi-circle.second {
  width: 5em;
  height: 5em;
  animation-delay: 400ms;
}

.wifi-circle.third {
  width: 3em;
  height: 3em;
}

.wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #FFFFCC;
  animation: none;
}

@keyframes wifianimation {
  0% {
    opacity: 0.4;
  }

  5% {
    opacity: 1;
  }

  6% {
    opacity: 0.1;
  }

  100% {
    opacity: 0.1;
  }
}

